<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title AOS - Animate On Scroll
    link(rel="stylesheet", href="assets/css/index.css")
    link(rel="stylesheet", href="https://unpkg.com/aos@next/dist/aos.css")
  body
      header.main-header
            h1
              span Lorem, ipsum.
              |lorem
            p Lorem ipsum dolor sit amet consectetur adipisicing.
      main.container
          section.card
                img(src="https://i.ibb.co/VvC0vpN/paint-1.png", alt="")
                div
                    h3 Lorem, ipsum dolor 1.
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro ea reprehenderit suscipit laudantium dignissimos dolores nobis sequi obcaecati atque! Temporibus id saepe recusandae corrupti molestias quam amet natus libero voluptate!
                    a(href="#").btn Lorem, ipsum

          section.card
                img(src="https://i.ibb.co/3NHjDcW/paint-2.png", alt="")
                div
                    h3 Lorem, ipsum dolor 2.
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro ea reprehenderit suscipit laudantium dignissimos dolores nobis sequi obcaecati atque! Temporibus id saepe recusandae corrupti molestias quam amet natus libero voluptate!
                    a(href="#").btn Lorem, ipsum

          section.card
                img(src="https://i.ibb.co/0VywMkW/paint-3.png", alt="")
                div
                    h3 Lorem, ipsum dolor 3.
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro ea reprehenderit suscipit laudantium dignissimos dolores nobis sequi obcaecati atque! Temporibus id saepe recusandae corrupti molestias quam amet natus libero voluptate!
                    a(href="#").btn Lorem, ipsum